<div class="flex flex-row p-4 mb-3 font-semibold text-white bg-slate-900">
  <button (click)="openNew()">+ Add Item</button>
  <h4 class="flex-1 text-center w-80">My Restaurant</h4>
</div>

<div class="flex flex-row flex-wrap justify-center mb-5 align-middle">
  <img src="../../../assets/hotel.svg" class="w-20 h-20 lg:w-24 lg:h-24 invert">
  <h1 class="mt-4 ml-2 text-center text-white" style="font-family: 'Merriweather Sans', sans-serif;">Today's Menu</h1>
</div>

  <div class="flex flex-row flex-wrap justify-center pb-8 align-middle">
    <ng-container *ngFor="let menu of (menu$ | async); index as i">
    <div class="max-w-sm mb-3 mr-5 overflow-hidden bg-gray-900 rounded shadow-lg">
      <img class="object-cover w-full h-60" [src]="menu.images[0]?.captureFileURL">
      <div class="px-6 py-4">
        <div class="mb-2 text-xl font-bold text-white">{{menu.itemName}}</div>
        <p class="text-base text-white">
          {{menu.description}}
        </p>
      </div>
      <div class="px-6 pt-1 pb-2">
        <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-white rounded-full bg-gradient-to-r from-pink-500 to-yellow-500">{{menu.price | currency: 'PKR':'symbol-narrow':'1.0-0'}}</span>
        <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-white rounded-full bg-gradient-to-r from-pink-500 to-yellow-500">{{menu.category}}</span>
        <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-white rounded-full bg-gradient-to-r from-pink-500 to-yellow-500">{{menu.servingSize}}</span>
      </div>
      <div class="px-6 pt-4 pb-3">
        <button (click)="openModal(menu)" class="px-4 py-2 mr-3 font-semibold text-gray-600 border border-gray-400 rounded shadow bg-slate-200 hover:bg-blue-100">
          Edit
        </button>
        <button (click)="deleteMenu(menu)" class="px-4 py-2 font-semibold text-red-800 border border-red-400 rounded shadow bg-slate-200 hover:bg-red-100">
          Delete
        </button>
      </div>
    </div>
  </ng-container>
  </div>

<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown()"></div>
<div *ngIf="finished == false" class="p-6 text-center">
  <svg role="status" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-red-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
  </svg>
</div>
<!-- <div *ngIf="finished == true" class="p-5 font-bold text-center text-red-500">No more data!</div> -->

<!--Edit Modal-->
<app-custom-modal #modal [modalConfig]="modalConfig">
  <div class="w-full max-w-lg text-white rounded bg-slate-800">
    <form class="w-full max-w-lg px-8 pt-6 pb-8 mb-4 text-white rounded shadow-md bg-slate-800" [formGroup]="editForm">
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-white" for="itemName">
          Item Name
        </label>
        <input class="w-full px-3 py-2 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter item name" formControlName="itemName" name="itemName">
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-sm font-bold text-white" for="password">
          Price
        </label>
        <input appNumbersOnly class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline" type="text" placeholder="Specify Price" formControlName="price" name="price">
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-sm font-bold text-white" for="password">
          Description
        </label>
        <textarea rows="8" class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline" type="text" placeholder="Describe your dish" formControlName="description" name="description"></textarea>
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-sm font-bold text-white" for="password">
          Category
        </label>
        <div class="relative">
          <select name="category" formControlName="category" class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline">
            <option disabled>Select Category</option>
            <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>
          </select>
        </div>
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-sm font-bold text-white" for="password">
          Serving Size
        </label>
        <div class="relative">
          <select name="servingSize" formControlName="servingSize" class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline">
            <option disabled>Select Serving Size</option>
            <option *ngFor="let serve of Sizes" [ngValue]="serve">{{serve}}</option>
          </select>
        </div>
      </div>
    </form>
    <p class="text-xs text-center text-gray-500">
      &copy;2022 Hotel Corp. All rights reserved.
    </p>
  </div>
  <button type="button" class="btn btn-light" (click)="editMenu();">Save</button>
</app-custom-modal>

<!--Create Modal-->

<app-custom-modal #createModal [modalConfig]="createModalConfig">
<form class="w-full max-w-lg px-8 pt-6 pb-8 mb-4 text-white rounded bg-slate-800" [formGroup]="menuForm">
  <h5>Image goes here:</h5>
  <div class="flex flex-wrap object-cover w-auto h-auto mt-20">
    <ng-container *ngFor="let multiple of multiples">
      <img [src]="multiple" class="flex-1 flex-row flex-wrap p-0.5 rounded-md w-2 h-auto object-cover">
    </ng-container>
  </div>
  <div class="mb-4">
    <label class="block mb-2 text-sm font-bold" for="file-input">
      Upload Image
    </label>
    <input type="file" class="w-auto px-3 py-2 mb-3 leading-tight text-gray-800 border rounded shadow appearance-none bg-slate-300 focus:outline-none focus:shadow-outline focus:backdrop-blur" accept="image/png, image/jpeg, image/jpg" (change)="onSelectFile($event)">
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Atleast one image is required',
      control: menuForm.controls['images']
    }">
  </ng-container>
  </div>
  <div class="mb-4">
    <label class="block mb-2 text-sm font-bold" for="itemName">
      Item Name
    </label>
    <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter item name" formControlName="itemName" name="itemName">
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Item name is required',
      control: menuForm.controls['itemName']
    }">
  </ng-container>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold" for="password">
      Price
    </label>
    <input appNumbersOnly class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline" type="text" placeholder="Specify Price" formControlName="price" name="price">
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Price is required',
      control: menuForm.controls['price']
    }">
  </ng-container>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold" for="password">
      Description
    </label>
    <textarea rows="8" class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline" type="text" placeholder="Describe your dish" formControlName="description" name="description"></textarea>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Description is required',
      control: menuForm.controls['description']
    }">
  </ng-container>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold" for="password">
      Category
    </label>
    <div class="relative">
      <select name="category" formControlName="category" class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline">
        <option disabled>Select Category</option>
        <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>
      </select>
    </div>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Please select a category',
      control: menuForm.controls['category']
    }">
  </ng-container>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold" for="password">
      Serving Size
    </label>
    <div class="relative">
      <select name="servingSize" formControlName="servingSize" class="w-full px-3 py-2 mb-3 leading-tight text-gray-200 border rounded shadow appearance-none bg-slate-600 focus:text-white focus:outline-none focus:shadow-outline">
        <option disabled>Select Serving Size</option>
        <option *ngFor="let serve of Sizes" [ngValue]="serve">{{serve}}</option>
      </select>
    </div>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Please select serving size',
      control: menuForm.controls['servingSize']
    }">
  </ng-container>
  </div>
  <div class="flex items-center justify-between">
      <button [disabled]="menuForm.invalid || menuForm.errors" #saveMenuButton class="px-4 py-2 font-bold text-white bg-blue-500 rounded cursor-pointer hover:bg-blue-800 focus:outline-none focus:shadow-outline" type="submit">
      Submit
    </button>
  </div>
</form>
<p class="pb-3 text-xs text-center text-white">
  &copy;2022 Hotel Corp. All rights reserved.
</p>
</app-custom-modal>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="text-xs fv-plugins-message-container sm:text-sm">
      <span role="alert" class="text-red-600">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>








