@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.tabs {
  background-color: #E3FBF1;
  margin: 0 auto;
  border-radius: 100px;
  justify-content: center;
  display: flex;

  img {
    max-width: 40px;
  }
}

.tabs.active,
.tabs:hover {
  border: 2px solid #F38B41;
  cursor: pointer;
}

.fonting {
  font-family: 'Permanent Marker', cursive;
}

input[type="number"] {
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .main-container {
    @apply flex flex-col justify-between my-0 mx-auto sm:px-4 ;
    @apply md:px-8;
    @apply lg:px-10;
    max-width: 1280px;
    min-width: 340px;
  }
