<!-- <img src="../../../assets/pizza-bag.svg" class="absolute top-0 left-0 w-24 h-24 ml-2 mt-28 lg:w-40 lg:h-40 md:w-28 md:h-28">
<img src="../../../assets/pizza-cutter.svg" class="absolute left-0 w-24 h-24 mb-4 ml-4 -bottom-9 lg:w-40 lg:h-40 md:w-28 md:h-28">
<img src="../../../assets/pizza-box.svg" class="absolute top-0 right-0 w-24 h-24 mt-24 mr-4 lg:w-40 lg:h-40 md:w-28 md:h-28"> -->
<app-burger></app-burger>
<div id="stepper1" class="mt-16 bs-stepper">
  <div class="bs-stepper-header">
    <div class="step" data-target="#test-l-1">
      <button class="step-trigger">
        <span class="p-2 rounded-full bg-amber-600">
          <img src="../../../assets/category.svg" class="w-9 h-9 invert">
        </span>
        <span class="bs-stepper-label" style="color:antiquewhite; margin-left: 10px;">Choose a Crust Type</span>
      </button>
    </div>
    <div class="line" style="background-color:antiquewhite"></div>
    <div class="step" data-target="#test-l-2">
      <button class="step-trigger">
        <span class="p-2 rounded-full bg-emerald-700">
          <img src="../../../assets/pizza-main.svg" class="w-9 h-9 invert">
        </span>
        <span class="bs-stepper-label" style="color:antiquewhite; margin-left: 10px;">Create your Pizza</span>
      </button>
    </div>
    <div class="line" style="background-color:antiquewhite"></div>
    <div class="step" data-target="#test-l-3">
      <button class="step-trigger">
        <span class="p-2 rounded-full bg-violet-500">
          <img src="../../../assets/cash.svg" class="w-9 h-9 invert">
        </span>
        <span class="bs-stepper-label" style="color:antiquewhite; margin-left: 10px;">Confirm Details</span>
      </button>
    </div>
    <div class="line" style="background-color:antiquewhite"></div>
    <div class="step" data-target="#test-l-4">
      <button class="step-trigger">
        <span class="p-2 rounded-full bg-fuchsia-500">
          <img src="../../../assets/tick.svg" class="w-9 h-9 invert">
        </span>
        <span class="bs-stepper-label" style="color:antiquewhite; margin-left: 10px;">Place Order</span>
      </button>
    </div>
  </div>
  <div class="bs-stepper-content">
    <div id="test-l-1" class="content">
      <label class="flex flex-row justify-center mt-5 mb-5 text-xl font-medium text-center text-white sm:text-3xl" for="categories">Pick a crust to get started</label>
      <form [formGroup]="stepperForm" class="flex flex-row flex-wrap justify-center w-full">
        <ng-container *ngFor="let crust of crusts">
          <app-radio name="crust" [value]="crust.name" required>
            <div class="w-20 h-20 m-2 tabs" [ngClass]="{'active' : f['crust'].value == crust.name}">
              <img [src]="crust.img" alt="crust.name">
            </div>
            <strong class="font-normal text-center text-white ml-7" style="font-size: 12px;">{{crust.name}}</strong>
          </app-radio>
        </ng-container>
      </form>
      <div class="flex flex-row justify-center mt-4 align-middle">
        <button [disabled]="!f['crust'].value" (click)="next()" class="btn btn-primary">Next</button>
      </div>
    </div>
    <div id="test-l-2" class="content">
      <label class="flex flex-row justify-center mt-5 mb-5 text-xl font-medium text-center text-white sm:text-3xl" for="categories">Customize your pizza</label>
      <form [formGroup]="stepperForm" class="flex flex-col flex-wrap items-center justify-center w-full h-full mt-9">
        <div class="flex flex-wrap justify-center mb-2 -mx-3 align-middle">
          <div class="w-full px-3 mt-2 mb-6 md:w-1/3 md:mb-0">
            <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="grid-state">
              Sauce
            </label>
            <div class="relative">
              <select formControlName="sauce" name="sauce" class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option>Traditional</option>
                <option>Alfredo</option>
                <option>Garlic Butter</option>
                <option>BBQ</option>
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="w-full px-3 mt-2 mb-6 md:w-1/3 md:mb-0">
            <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="grid-state">
              Meat Toppings
            </label>
            <div class="relative">
              <select formControlName="meatToppings" name="meatToppings" class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option>Beef</option>
                <option>Canadian</option>
                <option>Italian Sausage</option>
                <option>Pepperoni</option>
                <option>Chicken</option>
                <option>Meatballs</option>
                <option>BBQ</option>
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="w-full px-3 mt-2 mb-6 md:w-1/3 md:mb-0">
            <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="grid-state">
              Other Toppings
            </label>
            <div class="relative">
              <select formControlName="topping" name="topping" class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option>Black Olives</option>
                <option>Green Olives</option>
                <option>Mushrooms</option>
                <option>Onions</option>
                <option>Tomatoes</option>
                <option>Pickles</option>
                <option>Mixed</option>
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="w-full px-3 mt-2 mb-6 md:w-1/3 md:mb-0">
            <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="grid-state">
              Size
            </label>
            <div class="relative">
              <select formControlName="size" name="size" class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option *ngFor="let option of prices; let i = index" [ngValue]="option.size">{{option.size}}</option>
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="w-full px-3 mt-2 mb-6 md:w-1/3 md:mb-0">
            <label class="block mb-2 text-xs font-bold tracking-wide text-white uppercase" for="grid-state">
              Quantity
            </label>
            <div class="relative">
              <div class="flex w-full border-2 border-white rounded-sm h-14">
                <button class="w-16 h-full text-3xl font-bold text-purple-800 bg-white border-r-2 border-purple-400" (click)="handleMinus()">-</button>
                <input type="number" class="w-full text-center" value="0" [(ngModel)]="value" formControlName="quantity" name="quantity">
                <button class="w-16 h-full text-3xl font-bold text-purple-800 bg-white border-l-2 border-purple-400" (click)="handlePlus()">+</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="flex flex-row justify-center mt-4 align-middle">
        <button (click)="back()" class="mr-2 btn btn-light">Back</button>
        <button
          [disabled]="
          !f['quantity'].value ||
          !f['sauce'].value ||
          !f['topping'].value ||
          !f['meatToppings'].value ||
          !f['size'].value"
          (click)="next()"
          class="btn btn-primary">Next
        </button>
      </div>
    </div>
    <div id="test-l-3" class="content">
      <div class="flex flex-col items-center justify-center">
        <label class="flex flex-row justify-center mt-5 mb-5 text-xl font-medium text-center text-white sm:text-3xl">Confirm Payment Details and Address</label>
        <div class="w-full max-w-2xl">
          <form [formGroup]="stepperForm" class="w-full max-w-3xl p-2 rounded-md">
            <div class="mb-6 md:flex md:items-center">
              <div class="md:w-1/3">
                <label class="block pr-4 mb-1 font-bold text-gray-200 md:text-right md:mb-0" for="inline-full-name">
                  Your Name
                </label>
              </div>
              <div class="md:w-2/3">
                <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" formControlName="buyerName" name="buyerName">
              </div>
            </div>
            <div class="mb-6 md:flex md:items-center">
              <div class="md:w-1/3">
                <label class="block pr-4 mb-1 font-bold text-gray-200 md:text-right md:mb-0" for="inline-full-name">
                  Address
                </label>
              </div>
              <div class="md:w-2/3">
                <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" formControlName="address" name="address">
              </div>
            </div>
            <h3 class="mt-6 mb-6 text-2xl font-bold text-center text-white">Payment Methods</h3>
            <div class="items-center justify-center mb-6 md:flex md:items-center">
              <div class="flex flex-row justify-center">
                <input id="specialCheck" type="checkbox" class="w-6 h-6 px-4 py-2 leading-tight rounded" (click)="disableCheckBox()">
                <label class="block pr-4 mb-1 ml-2 font-bold text-gray-200 md:text-right md:mb-0" for="inline-full-name">
                  Cash on Delivery
                </label>
              </div>
            </div>
            <div class="items-center justify-center mb-6 md:flex md:items-center">
              <div class="flex flex-row justify-center">
                <input id="specialChecked" type="checkbox" class="w-6 h-6 px-4 py-2 leading-tight rounded" (click)="disableCheckBox()" formControlName="checkBox">
                <label class="block pr-5 mb-1 ml-2 font-bold text-gray-200 md:text-right md:mb-0" for="inline-full-name">
                  Online Payment
                </label>
              </div>
            </div>
            <div *ngIf="this.stepperForm.controls['checkBox'].value == true" class="flex flex-row justify-evenly md:items-center">
              <div class="relative mt-3 text-center text-white w-96">
                <span class="fontering">Bank Name</span>
                <img src="../../../assets/card-gold.png" class="w-full rounded-lg">
                <img src="../../../assets/chip-removebg-preview.png" class="absolute z-50 w-16 h-12 top-16 left-4">
                <img src="../../../assets/mc.png" class="absolute w-16 h-9 bottom-9 right-6">
                <span class="fonter">{{this.stepperForm.controls['cardNo'].value | mask: '0000-0000-0000-0000'}}</span>
                <span class="naming">Name: {{this.stepperForm.controls['buyerName'].value | truncate: 15 : true }}</span>
                <span class="expired">Expiry: {{this.stepperForm.controls['expiryDate'].value | mask: '00/00'}}</span>
              </div>
              <div class="flex flex-col">
                <div class="items-center mt-3 mb-6 justify-evenly md:flex md:items-center">
                  <div class="md:w-4/6">
                    <label class="block pl-2 pr-4 mb-1 font-bold text-gray-200 md:text-right md:mb-0" for="inline-full-name">
                      Card Number
                    </label>
                  </div>
                  <div class="w-full">
                    <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" formControlName="cardNo" name="cardNo" mask="0000-0000-0000-0000">
                  </div>
                </div>
                <div class="items-center mt-3 justify-evenly md:flex md:items-center">
                  <div class="w-full">
                    <label class="block pr-4 mb-1 font-bold text-gray-200 md:text-right md:mb-0" for="inline-full-name">
                      Expiry Date
                    </label>
                  </div>
                  <div class="w-full">
                    <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" mask="00/00" formControlName="expiryDate" name="expiryDate">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-row justify-center mt-4 align-middle">
        <button (click)="back()" class="mr-2 btn btn-light">Back</button>
        <button
        (click)="lastNext()"
        class="btn btn-primary">Next</button>
      </div>
    </div>
    <div id="test-l-4" class="content">
      <div class="flex flex-col items-center justify-center">
        <label class="flex flex-row justify-center mt-20 mb-5 text-xl font-medium text-center text-white sm:text-5xl fonting">Success!</label>
        <label class="flex flex-row justify-center mb-5 text-xl font-medium text-center text-white mt-14 sm:text-xl">Your Pizza will be ready and delivered shortly</label>
        <img src="../../../assets/pizza-box.svg" class="absolute mb-4 mr-4 top-2/4 left-4/6 w-28 h-28 lg:w-44 lg:h-44 md:w-36 md:h-36 animate-spin">
        <form [formGroup]="stepperForm">
          <div class="flex flex-row justify-center align-middle mt-44">
            <button (click)="back()" class="mr-2 btn btn-light">Back</button>
            <button
            (click)="onSubmit()"
            class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div [hidden]="lastPage == true" class="main-container">
      <div class="flex flex-col justify-center mt-8 rounded-md" style="background-image: url('../../../assets/pizza-bg.jpg');">
        <div class="flex flex-col justify-center">
          <p class="text-xl font-thin text-center text-white">-Create Your Own-</p>
          <h1 class="text-5xl font-bold text-center text-white fonting">Pizza</h1>
        </div>
        <div class="flex flex-col justify-center w-full p-2 mt-4 lg:flex-row lg:justify-evenly">
          <div class="flex flex-col p-4 border-2 border-white">
            <span class="p-1 text-sm font-thin text-center text-white">Crust:</span>
            <span class="p-2 text-base font-semibold text-center text-white">{{this.stepperForm.controls['crust'].value}}</span>
          </div>
          <div class="flex flex-col p-4 border-2 border-white">
            <span class="p-1 text-sm font-thin text-center text-white">Size:</span>
            <span class="p-2 text-base font-semibold text-center text-white">{{this.stepperForm.controls['size'].value}}</span>
          </div>
          <div class="flex flex-col p-4 border-2 border-white">
            <span class="p-1 text-sm font-thin text-center text-white">Sauce:</span>
            <span class="p-2 text-base font-semibold text-center text-white">{{this.stepperForm.controls['sauce'].value}}</span>
          </div>
        </div>
        <p class="p-3 mt-2 text-3xl font-semibold text-center text-white">TOPPINGS</p>
        <div class="flex flex-col justify-center p-2 mt-4 lg:flex-row lg:justify-evenly">
          <div class="flex flex-col p-4 border-2 border-white">
            <span class="p-1 text-sm font-thin text-center text-white">Meat Toppings:</span>
            <span class="p-2 text-base font-semibold text-center text-white">{{this.stepperForm.controls['meatToppings'].value}}</span>
          </div>
          <div class="flex flex-col p-4 border-2 border-white">
            <span class="p-1 text-sm font-thin text-center text-white">Other Toppings:</span>
            <span class="p-2 text-base font-semibold text-center text-white">{{this.stepperForm.controls['topping'].value}}</span>
          </div>
        </div>
        <ng-container *ngFor="let price of prices; let i = index;">
          <ng-container *ngIf="price.size == this.stepperForm.controls['size'].value">
            <p class="p-1 mt-2 text-lg font-semibold text-center text-white">Price: Rs.{{this.stepperForm.controls['quantity'].value * price.price}}</p>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
