<div class="flex flex-row flex-wrap justify-center align-middle main">
  <div class="w-3/4 h-full p-5 colorChose">
    <ng-content class="p-1 text-center text-green-800 border-4 border-zinc-600" select="h1"></ng-content>
    <div class="flex flex-row">
      <div class="w-1/2 h-full p-2 border-2 cursor-pointer border-zinc-600">
        <ng-content select="[sideContent1]"></ng-content>
      </div>
      <div class="w-1/2 h-full p-2 border-2 cursor-pointer border-zinc-600">
        <ng-content select="[sideContent2]"></ng-content>
      </div>
    </div>
    <p class="p-2 font-medium text-center border-2 text-amber-700 border-zinc-600">
      Prices are subject to a 10% service charge and applicable taxes.
    </p>
  </div>
</div>


