<h4 class="p-4 font-semibold text-center bg-slate-700 text-emerald-500">Today's Menu</h4>
<ng-container *ngFor="let menu of menu$ | async; index as i">
  <div class="flex flex-row content-start justify-center align-middle">
    <div class="max-w-sm mb-5 overflow-hidden rounded shadow-lg">
      <img class="w-full" src="https://images.pexels.com/photos/7625056/pexels-photo-7625056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <div class="px-6 py-4">
        <div class="mb-2 text-xl font-bold">{{menu.itemName}}</div>
        <p class="text-base text-gray-700">
          {{menu.description}}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{menu.price}}</span>
        <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{menu.category}}</span>
        <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">{{menu.servingSize}}</span>
      </div>
      <div class="px-6 pt-4 pb-2">
        <button (click)="open(openDialog, menu)" class="px-4 py-2 mr-3 font-semibold text-gray-800 border border-gray-400 rounded shadow bg-slate-200 hover:bg-gray-100">
          Edit
        </button>
        <button (click)="deleteMenu(menu)" class="px-4 py-2 font-semibold text-red-800 border border-red-400 rounded shadow bg-slate-200 hover:bg-gray-100">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div class="w-full max-w-sm lg:max-w-full lg:flex">
  <div class="flex-none h-48 overflow-hidden text-center bg-cover rounded-t lg:h-auto lg:w-48 lg:rounded-t-none lg:rounded-l">
    <ng-container *ngFor="let multiple of multiples">
      <img [src]="multiple">
    </ng-container>
  </div>
</div>

<div class="w-full max-w-lg">
  <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md" [formGroup]="menuForm">
    <div class="mb-4">
      <label class="block mb-2 text-sm font-bold text-gray-700" for="itemName">
        Item Name
      </label>
      <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter item name" formControlName="itemName" name="itemName">
    </div>
    <div class="mb-6">
      <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
        Price
      </label>
      <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="Specify Price" formControlName="price" name="price">
    </div>
    <div class="mb-6">
      <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
        Description
      </label>
      <textarea rows="8" class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="Describe your dish" formControlName="description" name="description"></textarea>
    </div>
    <div class="mb-6">
      <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
        Category
      </label>
      <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="Specify Category" formControlName="category" name="category">
    </div>
    <div class="mb-6">
      <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
        Serving Size
      </label>
      <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="What is your Serving Size" formControlName="servingSize" name="servingSize">
    </div>
    <div class="flex items-center justify-between">
      <button #saveMenuButton class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="submit">
        Submit
      </button>
    </div>
  </form>
  <p class="text-xs text-center text-gray-500">
    &copy;2022 Hotel Corp. All rights reserved.
  </p>
</div>

<ng-template #openDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Menu update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="w-full max-w-lg">
      <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md" [formGroup]="editForm">
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold text-gray-700" for="itemName">
            Item Name
          </label>
          <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter item name" formControlName="itemName" name="itemName">
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
            Price
          </label>
          <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="Specify Price" formControlName="price" name="price">
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
            Description
          </label>
          <textarea rows="8" class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="Describe your dish" formControlName="description" name="description"></textarea>
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
            Category
          </label>
          <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="Specify Category" formControlName="category" name="category">
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
            Serving Size
          </label>
          <input class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" placeholder="What is your Serving Size" formControlName="servingSize" name="servingSize">
        </div>
      </form>
      <p class="text-xs text-center text-gray-500">
        &copy;2022 Hotel Corp. All rights reserved.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateMenu(); modal.close('Save click')">Save</button>
  </div>
</ng-template>








